@import url("global.css");

#dashboard {
  overflow: hidden;
}

.nav_container {
  overflow: hidden;
}
.nav_container_btn {
  height: 2rem;
  width: 2rem;
  background-color: var(--color-secondary);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}
.nav_container svg {
  height: 100%;
  width: 100%;

}

.nav_content {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: var(--color-secondary);
  padding: 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  z-index: 100;

}

.openTab {
  animation: openTab 0.5s;
}

.closeTab {
  animation: closeTab 0.5s;
}

.sideBar_container {
  padding: 1rem;
}
.sideBar_title {
  text-align: center;
}
.sideBar_content {
  margin-top: 20rem;
}
.sideBar_content .sideBar_btn {
  display: flex;
  flex-direction: column;

}

.button_sideBar {
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  color: var(--color-text-2);
  font-weight: 200;
  border-top: gray 1px solid;
  transition: ease-in-out 0.5s;
}

.button_sideBar:hover {
  background-color: rgba(0, 0, 0, 0.11);
  transition: ease-in-out 0.5s;
}


@keyframes openTab {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes closeTab {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}



