@import url("global.css");

#cards {
    padding: 0 2rem 5rem 2rem;
}

.cards_container {
    max-width: 48rem;
    height: 32rem;
    border-radius: 0.5rem;
    background-color: var(--background-color-dark);
    box-shadow: #14213D 0px 0px 10px;
    margin: auto;
    display: flex;
}


.cards_container_filter {
    display: flex;
    align-items: center;
}
.filter-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    border : 1px solid var(--color-primary);
    border-radius: 0.5rem;
    padding: 0.5rem;
} 
.card_image {
    width: 15rem;
}

.cards_container_gallery {
    display: flex;
    flex-wrap: wrap;
    gap : 2rem;
    padding : 2rem; 
    overflow : hidden ; 
    scroll-behavior: smooth;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    
}

.card_buttons {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_button_readmore {
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
}

.cards_container_filter {
    padding: 2rem;
}

.filter-button {
    gap: 1rem;
}